#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secundary-color);
    height: 100vh;
    transition: all .5s;
    min-width: 220px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

#user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 15px;
}

#user_infos {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    align-items: baseline;
}

.side-item {
    display: flex;
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    justify-content: baseline;
    font-size: 14px;
}

.side-item.active {
    background-color: var(--primary-color);
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
    gap: 10px;
    
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
    width: 100%;
}

#logout_btn {
    color: #0a0a0a;
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

#sidebar a.active{
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  border-radius: 5px;
}