@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #1D4ED8;
    --secundary-color: #FFF;
    --text-color-dark: #000;
    --text-color-light: #b5b5b5;
    --background: #f4f6f9;
    --subtitle: #374151;
    --red: #EF4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: baseline;
}

#main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

/* estilização da side bar */

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secundary-color);
    height: 100vh;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;

}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: var(--primary-color);
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border: none;
    background-color: var(--secundary-color);
    cursor: pointer;
    text-align: left;
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .3s ease;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 10px;
}

/* estilização do conteudo principal */


.card{
    width: 30%;
    background-color: #fff;
    border: 1px solid var(--text-color-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.card:last-child{
    width: 30%;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.header-left{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    align-items: center;
}

#edit-button{
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 100%;
    transition: .5s;
}

#edit-button:hover{
    background-color: #173998;
    cursor: pointer;
}

#delete-button{
    background-color: var(--red);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    width: 100%;
    transition: .5s;
}

#delete-button:hover{
    background-color: #8d2724;
    cursor: pointer;
}

.title{
    font-weight: 600;
    font-size: 26px;
}

.card-left{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.status{
    border: 1px solid var(--text-color-light);
    padding: 5px;
    border-radius: 25px;
}

.so-info{
    display: flex;
    flex-direction: column;
    width: auto;
}

.item-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
}

.list-title{
    font-weight: 700;
}

.list-content{
    color: #374151;
    margin-left: 20px;
}

.header-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.obs-container{
    margin-top: 5px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.obs-text{
    color: #374151;
}

.buttons-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

#edit-button{
    background-color: #1D4ED8;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 100%;
    transition: .5s;
}

#edit-button:hover{
    background-color: #173998;
    cursor: pointer;
}

#delete-button{
    background-color: var(--red);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    width: 100%;
    transition: .5s;
}

#delete-button:hover{
    background-color: #8d2724;
    cursor: pointer;
}

.details-title{
    font-weight: 800;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 145px;
    margin-bottom: 10px;
}

.status-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.st-p{
    width: 100%;
}